<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header class="site-header">
    <div class="container position-relative">
      {{ partial "header.html" . }}
    </div>
  </header>
  <main class="site-main">
    <div class="container">
      {{ block "main" . }}{{ end }}
    </div>
  </main>
  <footer class="site-footer">
    <div class="container">
      {{ partial "footer.html" . }}
    </div>
  </footer>
</body>
</html>
